.topSection{
    margin-bottom: 50px;
    .smaller{
        font-size: 18px;
    }

}
.bottomSection{
    .inner{
        @media screen and (max-width: 899px){
            display: flex;
            flex-direction: column;
            
         }
    }
    .rightSection {
        .smallerTitle{
            font-size: 25px;
        }
    }
}