.Ebook {
	background-color: #f5f6f5;
	padding: 50px 0px;
	.topSection{
		margin-bottom: 100px;
	}
	.bottomSection .rightSection .paragraph{
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		white-space: pre-wrap;
	}
}
