@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
  --h1-color: #1b2832;
  --h2-color: #24333e;
  --h3-color: #2c3d49;
  --h4-color: #374956;
  --h5-color: #415462;
  --h6-color: #4d606d;
  --muted-color: #73828c;
  --muted-border-color: #edf0f3;
  --primary: #24596a;
  --primary-hover: #153b47;
  --primary-focus: rgba(36,89,106,.125);
  --primary-inverse: #fff;
  --secondary: #596b78;
  --secondary-hover: #415462;
  --secondary-focus: rgba(89,107,120,.125);
  --secondary-inverse: #fff;
  --contrast: #1b2832;
  --contrast-hover: #000;
  --contrast-focus: rgba(89,107,120,.125);
  --contrast-inverse: #fff;
  --mark-background-color: #fff2ca;
  --mark-color: #543a26;
  --ins-color: #388e3c;
  --del-color: #c62828;
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);
  --button-box-shadow: 0 0 0 transparent;
  --button-hover-box-shadow: 0 0 0 transparent;
  --form-element-background-color: transparent;
  --form-element-border-color: #a2afb9;
  --form-element-color: var(--color);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: transparent;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --form-element-disabled-background-color: #d5dce2;
  --form-element-disabled-border-color: #a2afb9;
  --form-element-disabled-opacity: 0.5;
  --form-element-invalid-border-color: #c62828;
  --form-element-invalid-active-border-color: #d32f2f;
  --form-element-invalid-focus-color: rgba(211,47,47,.125);
  --form-element-valid-border-color: #388e3c;
  --form-element-valid-active-border-color: #43a047;
  --form-element-valid-focus-color: rgba(67,160,71,.125);
  --switch-background-color: #bbc6ce;
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --range-border-color: #d5dce2;
  --range-active-border-color: #bbc6ce;
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color: #f6f8f9;
  --code-background-color: #edf0f3;
  --code-color: var(--muted-color);
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: #b34d80;
  --code-property-color: #3d888f;
  --code-value-color: #986;
  --code-comment-color: #a2afb9;
  --accordion-border-color: var(--muted-border-color);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);
  --card-background-color: var(--background-color);
  --card-border-color: var(--muted-border-color);
  --card-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(27,40,50,.017), 0.0335rem 0.067rem 0.402rem rgba(27,40,50,.024), 0.0625rem 0.125rem 0.75rem rgba(27,40,50,.03), 0.1125rem 0.225rem 1.35rem rgba(27,40,50,.036), 0.2085rem 0.417rem 2.502rem rgba(27,40,50,.043), 0.5rem 1rem 6rem rgba(27,40,50,.06), 0 0 0 0.0625rem rgba(27,40,50,.015);
  --card-sectionning-background-color: #fbfbfc;
  --dropdown-background-color: #fbfbfc;
  --dropdown-border-color: #e1e6eb;
  --dropdown-box-shadow: var(--card-box-shadow);
  --dropdown-color: var(--color);
  --dropdown-hover-background-color: #edf0f3;
  --modal-overlay-background-color: rgba(213,220,226,.7);
  --progress-background-color: #d5dce2;
  --progress-color: var(--primary);
  --loading-spinner-opacity: 0.5;
  --tooltip-background-color: var(--contrast);
  --tooltip-color: var(--contrast-inverse);
}

section{
margin: 50px 0px;
}

button {
  background-color: var(--primary);
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
  box-shadow: var(--button-hover-box-shadow, 0 0 0 transparent);
  color: var(--primary-inverse);
}
.secondaryButton{
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--secondary-inverse);
  cursor: pointer;
   padding: 15px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.secondaryButton:hover {
 background-color: var(--secondary-hover);
 border-color: var(--secondary-hover);
 color: var(--secondary-inverse);
}

  .Container {
      width: 100%;
      padding: 0 25px;
      position: relative;
      overflow: hidden;
      @media only screen and (min-width: 1200px) {
        max-width: 1200px;
      }
  }

  .outline {
    margin-top: 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .46px;
    padding: 5px 0;
    border: none;
    text-transform: uppercase;
    outline-style: none;

  }

  .sign{
    margin: auto 0 0;
    padding: 15px 0 0;
    font-size: 18px;
    line-height: 28px;
    color: #eba37a;
    font-weight: 600;
  }

   .itemWraper{
    display: flex;
    width: 100%;
    gap: 30px;    
    .bottomItem{
        background-color: #f5f6f5;
        width: 100%;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
  }

  .iconBox{
      margin: 0 auto;
      width: 50px;
      height: 50px;
      background-color: #fce9c4;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
  }