.itemWraper {
	display: flex;
	width: 100%;
	gap: 30px;
    margin-top: 50px;
	.bottomItem {
		background-color: #f5f6f5;
		width: 100%;
		padding: 25px;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}
