.newsletter {
	display: flex;
	justify-content: center;

	.left {
		max-width: 60%;
		.top {
			margin-bottom: 30px;
			h3{
				color: #255a6b;
				font-size: 26px;
				margin: 30px 0px;
			}
		}
		.bottom {
			gap: 25px;
			p{
				font-weight: 400;
			}
		}
	}
	.right {
		max-width: 400px;
		background-color: #faf8f6;
		padding: 25px;
		margin-top: 32px;
		.form {
			p{
				font-weight: 600;
			}
		}
		.inputWraper {
			margin-bottom: 15px;
			.accept {
				margin-right: 5px;
				border: solid 1px var(--form-element-border-color);
			}

		}
		.input {
			background: #fff;
			padding: 12px;
			width: 100%;
			border: solid 1px var(--form-element-border-color);
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	span {
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		color: #255a6b;
		padding: 12px 0;
	}
	a {
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		color: #255a6b;
		padding: 12px 0;
	}
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}
	.icons {
		gap: 20px;
	}
}
