.mainHeading {
	margin-bottom: 100px;
}

.singlePost {
	padding: 20px 10px 10px 10px;
	background-color: #faf8f6;
	width: 100%;
	.top {
		margin-bottom: 20px;
	}
	.callendar {
		margin-bottom: 20px;
	}
	.etiquette {
		margin-bottom: 20px;
	}
}
