.Hero {
	display: flex;
	justify-content: center;
	.Inner {
		display: grid;
		gap: 50px;
		grid-column-gap: 50px;
		grid-template-areas: "c c";
		grid-template-columns: 1fr 1fr;
		@media (max-width: 900px) {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			grid-gap: 29px;
			gap: 29px;
			grid-template-areas:
				"c"
				"b";
		}
		.leftSection {
			display: flex;
			align-items: start;
			justify-content: center;
			flex-direction: column;
			.title {
				width: 100%;
				max-width: 900px;
                margin-bottom: 30px;
				.main {
					font-size: 38px;
					line-height: 44px;
					width: 100%;
					margin-top: 0;
					white-space: pre-wrap;
				}
			}
			.paragraph {
				font-size: 16px;
				line-height: 24px;
				font-weight: 300;
				white-space: pre-wrap;
			}
		}
		.rightSection {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
	}
}
