.second {
	background-color: #f5f6f5;
	padding: 50px 0px;

	.inner{
		@media screen and (max-width: 899px){
			display: flex;
			flex-direction: column;
			
		 }
		 .columnSection{
			@media screen and (max-width: 899px){
			justify-content: center;			
			 }
		 }
	}
	.mainHeading {
		font-size: 28px;
		margin-bottom: 50px;
	}
	.button {
		width: 300px;
		height: 50px;
		margin-bottom: 20px;
	}
	
}
