.Six{
    background-color: #f5f6f5;

    .bottomSection{
        @media screen and (max-width: 899px){
			display: flex;
			flex-direction: column;
            gap: 30px;
		 }
    
    }

.mainHeading{
    font-size: 38px;
    line-height: 44px;
    width: 100%;
    margin-top: 0;
    white-space: pre-wrap;
	margin-bottom: 50px;
    @media screen and (max-width: 899px){
            margin-bottom: 0;
     
}
}
.paragraphParent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
}