.ten {
	background-color: #f5f6f5;
	padding: 50px 0px;
}
.consultationSingle {
	display: flex;
	padding: 16px;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	flex-shrink: 0;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #f5c077;
	.consulationHeading{
		margin: 0;
		text-align: center;
		color: #255a6b;
		font-size: 24px;
	}
	.consultationPrice{
		font-size: 18px;
		font-weight: 700;
	}
}
.wraper {
	column-gap: 24px;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 24px;
	display: grid;
}

.ul {
	margin-left: 40px;
	min-height: 170px;
li {
	list-style-type: disc;
}
}